/* home.less */
#home-page{
	background-image:url("../img/bg/yadom.jpg");
	background-size:auto 480px;
	background-position: left;
	background-color:#000000;
	overflow:hidden;
	.main-menu{
		position:absolute;
		bottom:60px;
		left:0;
		width:320px;
		ul{
			text-align:center;
		}
		li{
			display:inline-block;
			margin:5px;
		}
	}
}