@import "../css-lib/lib.less";//共通ライブラリ
@import "./reset.less";
@import "./base.less";
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
/* main.css */
html{
	background-color:#000000;
	&.android4{
		.node{
			-webkit-backface-visibility:hidden;
		}
	}
	&.android2{
		.node{
			//-webkit-backface-visibility:hidden;
			-webkit-perspective:1000;
			-webkit-transform-style: flat;
		}
	}
	&.ipad{
		.current.page{
			zoom:2;
			/* iPadに置ける描画パフォーマンスのため下記で統一したいがtransformかけるとfooter固定が効かなくなるので面倒だがこうする */
			&[id$="-scene-page"]{
				-webkit-transform:scale(2);
				-webkit-transform-origin:0 0;
				zoom:1;
				min-height:50%;
			}
		}
	}
}
@media screen and (orientation:portrait){
	html.ipad{
	}
}
body{
	position: relative;
	background-color:#000000;
}
/* 横持ち無効 */
#landscape-alert{
	display:none;
}
@media screen and (orientation:landscape){
	html.android,html.ios,html.ipad{
		>body{
			// 見えず触れず
			>*:not(#landscape-alert){
				/* visibility:hiddenにしたらiPadでrotateが変わった際にfooterのleft位置が横の時のまま残る問題発生につきopacityで */
				opacity:0 !important;
				pointer-events:none !important;
				z-index:-1000;
			}
			#landscape-alert{
				position:fixed;
				left:0;
				top:0;
				z-index:1000;
				width:100%;
				height:100%;
				.fontSize(18);
				display:-webkit-box;
				color:#FFFFFF;
				-webkit-box-align:center;
				-webkit-box-pack:center;
				>p{
					text-align: center;
				}
			}
		}
	}
}
/* アニメシーンのホルダー */
.stage-holder{
	position:relative;
	z-index:0;
	>.layer{
		z-index:-1;
	}
}
.page.current{
	z-index:0;
	left:50%;
	margin-left:-160px;
	color:#111111;
	background-color:@page-bg-color;
	background-image: url("../img/texture.png");
	background-repeat:no-repeat;
	width:320px !important;
	height:480px !important;
	>.content{
		padding:@base-margin;
	}
	/* jQuery MobileでpageTransitionをnoneにすると、aタグのタップハイライトが遷移後タップした位置にAタグがあった場合に残ってしまう対策 */
	html.android4 & {
		-webkit-animation-name:kf-page-transition-android4;
		-webkit-animation-duration:1ms;
	}
}
@-webkit-keyframes kf-page-transition-android4{
	from,to{
		opacity:1;
	}
}
/* ヘッダー */
header{
	background-color:@header-bg-color;
	border-bottom:2px solid @header-border-color;
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(255,255,255,0.1)));
	-webkit-box-sizing:border-box;
	> h1{
		height:24px;
		line-height:24px;
		text-align:center;
		.fontSize(14);
		color:#FFFFFF;
		.textOutline(1px,#000000);
		font-weight:bold;
	}
}
/* フッター */
.page.current footer{
		position:absolute;
		bottom:0;
		height:40px;
		>ul{
			position:fixed;
			bottom:0;
			html.android &{
				top:100%;
				bottom:auto;
				margin-top:-40px;
			}
			height:40px;
			width:320px;
			display:-webkit-box;
			-webkit-box-pack:center;
			>li{
				display:block;
				-webkit-box-flex:1;
				width:100px;
				height:40px;
				border-left:1px solid #5E4A34;
				border-right:1px solid #5E4A34;
				color:#FDFDFD;
				position:relative;
				background-color:#1D1109;
				>a{
					display:-webkit-box;
					width:100%;
					height:100%;
					-webkit-box-pack:center;
					-webkit-box-align:center;
					&.selected{
						background-color:#333333;
						pointer-events:none;
					}
					&:hover{
						background-color:rgba(255,255,255,0.2);
					}
				}
				>span.badge{
					width:20px;
					height:20px;
					position:absolute;
					left:50%;
					top:-10px;
					margin-left:-10px;
					background-color:red;
					border:1px solid #000000;
					border-radius:10px;
					-webkit-box-sizing:border-box;
					display:-webkit-box;
					-webkit-box-pack:center;
					-webkit-box-align:center;
					.fontSize(8);
					font-weight:bold;
				}
			}
		}
}
/* 標準テキストボタン */
.text-button{
	display:inline-block;
	padding:10px;
	color:#E5CF7F;
	border:2px solid #D6AE50;
	.fontSize(16);
	font-weight:bold;
	border-radius:10px;
	background-color:#000000;
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@default-button-color-end),color-stop(0.5,@default-button-color-middle),to(@default-button-color-end));
	text-align:center;
	text-shadow:1px 1px 2px #321B09;
	&.disabled{
		pointer-events:none;
		background-image:none !important;
		background-color:#999999;
	}
	&.mini{
		width:120px;
		max-width:120px;
	}
	&.quest-button{
		background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@quest-button-color-end),color-stop(0.5,@quest-button-color-middle),to(@quest-button-color-end));
	}
	&.fusion-button{
		background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@fusion-button-color-end),color-stop(0.5,@fusion-button-color-middle),to(@fusion-button-color-end));
	}
	&.gacha-button{
		background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@gacha-button-color-end),color-stop(0.5,@gacha-button-color-middle),to(@gacha-button-color-end));
	}
	&.battle-button{
		background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.5,rgba(255,255,255,0)),to(rgba(255,255,255,0))),-webkit-gradient(linear,left top, right top, from(@battle-button-color-end),color-stop(0.5,@battle-button-color-middle),to(@battle-button-color-end));
	}
}
/* 画面上部ステータスエリア */
.player-status{
	font-family: @cursive;
	position:relative;
	height:40px;
	background-color:@header-status-bg-color;
	.bar{
		background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,1)),to(rgba(255,255,255,0)));
		background-position:left 25%;
		background-repeat:no-repeat;
		background-size:100% 50%;
	}
	.level{
		letter-spacing:-1px;
		position:absolute;
		left:0;
		top:0;
		width:60px;
		height:40px;
		line-height:40px;
		text-align:right;
		.label{
			color:#000000;
			display:inline;
			.fontSize(14);
		}
		.value{
			display:inline;
			.fontSize(21);
			color:@bar-color;
			.textOutline(2px,#000000);
			width:100%;
		}
	}
	.exp{
		position:absolute;
		left:64px;
		top:6px;
		padding-left:12px;
		&::before{
			content:"";
			display:block;
			background-image:url("../img/icons/sticon4c-3.png");
			background-size:18px 18px;
			background-position:center center;
			background-repeat:no-repeat;
			width:20px;
			height:20px;
			position:absolute;
			top:50%;
			left:2px;
			margin-top:-10px;
			z-index:1;
		}
		.bar-holder{
			width:200px;
			height:8px;
		}
		.bar{
		}
		.value{
			position:relative;
			top:-50%;
		}
	}
	.energy{
		position:absolute;
		left:66px;
		top:21px;
		padding-left:10px;
		&::before{
			content:"";
			display:block;
			background-image:url("../img/icons/sticon3b-3.png");
			background-size:16px 16px;
			background-position:center center;
			background-repeat:no-repeat;
			width:20px;
			height:20px;
			position:absolute;
			top:50%;
			left:0;
			margin-top:-10px;
			z-index:1;
		}
		.bar-holder{
			width:92px;
			height:8px;
		}
		.bar{
			background-color:#F19E9F;
		}
		.value{
			position:relative;
			top:-50%;
		}
	}
	.spirits{
		position:absolute;
		left:172px;
		top:21px;
		padding-left:12px;
		&::before{
			content:"";
			display:block;
			background-image:url("../img/icons/sticon5b-3.png");
			background-size:20px 20px;
			background-position:center center;
			background-repeat:no-repeat;
			width:20px;
			height:20px;
			position:absolute;
			top:50%;
			left:0;
			margin-top:-10px;
			z-index:1;
		}
		.bar-holder{
			width:92px;
			height:8px;
		}
		.bar{
			background-color:#F5B857;
		}
		.value{
			position:relative;
			top:-50%;
		}
	}
}
/* 標準リストビュー */
.box-list-holder{
	>li{
		margin-bottom:@half-margin;
		padding:@half-margin;
		//border:2px solid #745E3D;
		.craftyBox();
		&:nth-of-type(2n){
			background-color:fade(#000000,10);
			.craftyTextShadow(#FFF,1);
		}
		&:nth-of-type(2n-1){
			background-color:fade(#000000,30);
			color:#FFFFFF;
			.craftyTextShadow(#000,0.6);
		}
	}
}
/* 標準バー */
.bar-holder{
	border:2px solid @bar-border-color;
	background-color:@bar-bg-color;
	min-height:8px;
	position:relative;
	>.bar{
		background-color:@bar-color;
		position:absolute;
		left:0;
		top:0;
		height:100%;
	}
	>.value{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		display:-webkit-box;
		-webkit-box-align:center;
		-webkit-box-pack: center;
		color:#FFFFFF;
		.textOutline(1px,#000000);
	}
}
/* 標準タブ */
.tab-holder{
	>ul.tab-bar{
		display:-webkit-box;
		-webkit-box-pack:center;
		>.tab{
			-webkit-box-flex:1;
			width:1000px;
			border:2px solid #000000;
			text-align:center;
			position:relative;
			display:block;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			background-color:#FFC;
			&.selected{
				background-color:#993300;
				color:#FFFFFF;
			}
			a{
				display:block;
				width:100%;
				height:100%;
			}
			.tab-content{
				padding:@base-margin @half-margin;
			}
		}
	}
}
/* カード */
.trading-card{
	position:relative;
	width:150px;
	height:200px;
	display:block;
	background-size:contain;
	>div{
		background-position:center center;
		position:relative;
		width:100%;
		height:100%;
		background-size:contain;
	}
	// カード枠設定
	&[data-attribute="1"]{
		&[data-rarity="1"]{
			background-image:url(../img/card-frame/frame001b.png),url(../img/card-bg/framebg001b.png);
		}
		&[data-rarity="2"]{
			background-image:url(../img/card-frame/frame001b.png),url(../img/card-bg/framebg002b.png);
		}
		&[data-rarity="3"]{
			background-image:url(../img/card-frame/frame002b.png),url(../img/card-bg/framebg004b.png);
		}
		&[data-rarity="4"]{
			background-image:url(../img/card-frame/frame002b.png),url(../img/card-bg/framebg005b.png);
		}
		&[data-rarity="5"]{
			background-image:url(../img/card-frame/frame003a.png),url(../img/card-bg/framebg003b.png);
		}
	}
	&[data-attribute="2"]{
		&[data-rarity="1"]{
			background-image:url(../img/card-frame/frame001c.png),url(../img/card-bg/framebg001c.png);
		}
		&[data-rarity="2"]{
			background-image:url(../img/card-frame/frame001c.png),url(../img/card-bg/framebg002c.png);
		}
		&[data-rarity="3"]{
			background-image:url(../img/card-frame/frame002c.png),url(../img/card-bg/framebg004c.png);
		}
		&[data-rarity="4"]{
			background-image:url(../img/card-frame/frame002c.png),url(../img/card-bg/framebg005c.png);
		}
		&[data-rarity="5"]{
			background-image:url(../img/card-frame/frame003a.png),url(../img/card-bg/framebg003c.png);
		}
	}
	&[data-attribute="3"]{
		&[data-rarity="1"]{
			background-image:url(../img/card-frame/frame001e.png),url(../img/card-bg/framebg001e.png);
		}
		&[data-rarity="2"]{
			background-image:url(../img/card-frame/frame002e.png),url(../img/card-bg/framebg004e.png);
		}
		&[data-rarity="4"]{
			background-image:url(../img/card-frame/frame002e.png),url(../img/card-bg/framebg005e.png);
		}
		&[data-rarity="5"]{
			background-image:url(../img/card-frame/frame003a.png),url(../img/card-bg/framebg003e.png);
		}
	}
}
// ホーム
@import "./home.less";