@import "cssa.mix-in.less";
/* set of assets */
.assets{
	position:relative;
	width:0;
	height:0;
	overflow:hidden;
	> * {
		// .assetsをdisplay:noneするとwidth,heightがゼロになってしまうのでこちらで直接切る
		display:none;
	}
}
/* base element */
.node{
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	&.invisible{
		visibility:hidden;
	}
	&:not(.touchable){
		pointer-events:none;
	}
}
.sprite{
	img{
		vertical-align:bottom;
	}
	-webkit-animation-timing-function:linear;
}
.sprite-animation{
	overflow:hidden;
}
.layer{
	width:100%;
	height:100%;
	position:relative;
	>.layer{
		position:absolute;
	}
	overflow:hidden;
	.effect {
		&.invisible:not(.invoke){
			// visibilityで制御するとandroidで問題が起こり、
			// displayで制御するとtransitionが発生しなくて面倒なので別の方法で消す
			position:absolute !important;
			width:0 !important;
			height:0 !important;
			overflow:hidden;
			visibility:hidden;
		}
	}
}