@import "cssa.mix-in.less";
.node.transition-layer{
	&[data-transition='dark']{
		background-color:#000000;
		-webkit-animation-name:kf-fade-out;
		-webkit-animation-duration:12*@frame;
		-webkit-animation-iteration-count:1;
		opacity:0;
	}
	&[data-transition='fade']{
		background-color:#FFFFFF;
		-webkit-animation-name:kf-fade-out;
		-webkit-animation-duration:12*@frame;
		-webkit-animation-iteration-count:1;
		opacity:0;
	}
}
.node.scene{
	&[data-action='shake']{
		-webkit-animation-name:kf-shake;
		-webkit-animation-duration:3*@frame;
		-webkit-animation-iteration-count:3;
	}
	.actor{
		&:not(.active){
			opacity:0.5;
		}
		&.active{
			z-index:1;
		}
		&[data-action='shake']{
			-webkit-animation-name:kf-shake;
			-webkit-animation-duration:3*@frame;
			-webkit-animation-iteration-count:3;
			-webkit-transition-timing-function:linear;
		}
		&[data-transition='fade']{
			-webkit-animation-name:kf-fade-in;
			-webkit-animation-duration:3*@frame;
			-webkit-animation-iteration-count:1;
			-webkit-transition-timing-function:linear;
		}
		&[data-transition='get-up']{
			// android2.xでどうやっても動かないのでバグ回避のため子要素に当てる
			>*{
				-webkit-animation-name:kf-get-up;
				-webkit-animation-duration:3*@frame;
				-webkit-animation-iteration-count:1;
				-webkit-transition-timing-function:linear;
				-webkit-transform-origin:center bottom;
			}
		}
	}
}
@-webkit-keyframes kf-get-up{
	from {
		-webkit-transform:scale(1,0.7);
	}
	80% {
		-webkit-transform:scale(1,1.05);
	}
	to {
		-webkit-transform:scale(1,1);
	}
}
.caption.sprite{
	padding-top:24px;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-sizing:border-box;
	>.title-plate{
		background-image:-webkit-gradient(radial,center center,0,center center,100,from(fade(#228888,95)),to(fade(#000000,95)));
		background-repeat:no-repeat;
		background-size:auto;
		-webkit-box-sizing:border-box;
		box-shadow:-1px -1px 0px 0px #000000,1px -1px 0px 0px #000000, 0 0 10px 1px fade(#000000,20) inset;
		min-width:40%;
		max-width:60%;
		display:inline-block;
		height:24px;
		line-height:20px;
		border-top:4px solid #85BBBB;
		border-right:4px solid #85BBBB;
		border-left:4px solid #85BBBB;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		color:#FFFFFF;
		padding:0px 10px;
		font-weight:bold;
		text-shadow:0px 0px 3px #000000,0px 0px 3px #000000,0px 0px 3px #000000;
		z-index:1;
		position:absolute;
		left:0;
		top:0;
		&:empty{
			visibility:hidden;
			&+p{
				border-top-left-radius:10px;
			}
		}
	}
	>p {
		position:relative;
		color:#FFFFFF;
		padding:10px;
		text-shadow:0px 0px 3px #000000,0px 0px 4px #000000;
		line-height:150%;
		border:4px solid #85BBBB;
		border-top-right-radius:10px;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		box-shadow:0 0 0px 1px #000000, 0 0 10px 1px fade(#000000,20) inset;
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAQAAACSE13KAAAADklEQVQIHWNgwAYE/gMAATcBEOBMDD0AAAAASUVORK5CYII=),-webkit-gradient(radial,center center,10,center center,200,from(fade(#339999,95)),to(fade(#000000,95)));
		background-repeat:repeat,no-repeat;
		background-size:1px 8px,auto;
 		-webkit-box-flex: 1;
	}
}