@import "cssa.mix-in.less";
.character-layer{
	.unit{
		>.asset{
			position:absolute;
			// チャージ
			&.charge{
				-webkit-transition-property:-webkit-transform;
				-webkit-transition-duration:300ms;
				-webkit-transition-timing-function:cubic-bezier(.49,.79,.28,1);
			}
			>img{
				vertical-align:bottom;
			}
			>canvas{
				position:absolute;
				left:0;
				top:0;
			}
			>.body-parts{
				position:relative;
				visibility:hidden;
				.upper-body,.lower-body{
					position:absolute;
					left:0;
					top:0;
					background-size:contain;
					-webkit-mask-box-image-width:100%;
					-webkit-mask-box-image-height:100%;
				}
				.upper-body{
					-webkit-mask-box-image:url(../images/effect/cut-1.png);
				}
				.lower-body{
					-webkit-mask-box-image:url(../images/effect/cut-2.png);
				}
				&.invoke{
					visibility:visible;
					-webkit-transition-property:opacity;
					-webkit-transition-delay:1200ms;
					-webkit-transition-duration:400ms;
					opacity:0;
					.upper-body{
						-webkit-transition-property:-webkit-transform;
						-webkit-transition-duration:1200ms;
						-webkit-transition-delay:200ms;
						-webkit-transform:translate(320px,0);
						-webkit-transition-timing-function:ease-in;
					}
					.lower-body{
						-webkit-transition-property:-webkit-transform;
						-webkit-transition-duration:1000ms;
						-webkit-transition-delay:400ms;
						-webkit-transform:translate(-60px,60px);
						-webkit-transition-timing-function:ease-in;
					}
				}
			}
			>.purify-effect{
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				top:0;
				>div{
					width:100%;
					height:100%;
					position:absolute;
					background-color:#FFFFFF;
					-webkit-mask-repeat:no-repeat;
					-webkit-mask-position:center center;
					-webkit-mask-size:contain;
				}
				&:not(.invoke){
					visibility:hidden;
					width:0 !important;
					height:0 !important;
					overflow:hidden;
				}
				&.invoke{
					
					-webkit-transition-property:opacity,-webkit-transform;
					-webkit-transition-duration:350ms;
					-webkit-transition-delay:500ms;
					-webkit-transition-timing-function:linear;
					
					-webkit-transform:translate(0,-50px) scale(0.001,1);
					opacity:0;
				}
			}
			>.defeat-effect{
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				top:0;
				>div{
					width:100%;
					height:100%;
					position:absolute;
					background-color:#000000;
					-webkit-mask-repeat:no-repeat;
					-webkit-mask-position:center center;
					-webkit-mask-size:contain;
				}
				&:not(.invoke){
					visibility:hidden;
					width:0 !important;
					height:0 !important;
					overflow:hidden;
				}
				&.invoke{
					
					-webkit-transition-property:-webkit-transform;
					-webkit-transition-duration:500ms;
					-webkit-transition-delay:500ms;
					-webkit-transition-timing-function:linear;
					
					-webkit-transform:scale(0.001);
					-webkit-transform-origin:50% 100%;
				}
			}
			>.damage-effect{
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				top:0;
				>div{
					width:100%;
					height:100%;
					position:absolute;
					background-color:#FF0000;
					-webkit-mask-repeat:no-repeat;
					-webkit-mask-position:center center;
					-webkit-mask-size:contain;
				}
				&:not(.invoke){
					visibility:hidden;
					width:0 !important;
					height:0 !important;
					overflow:hidden;
				}
				&.invoke{
					
					-webkit-transition-property:opacity,-webkit-transform;
					-webkit-transition-duration:500ms,250ms;
					-webkit-transition-timing-function:ease-in,ease-out;
					
					-webkit-transform:scale(1.1,1.1);
					opacity:0;
					/*
					-webkit-animation-name:kf-damage-effect;
					-webkit-animation-duration:250ms;
					-webkit-animation-timing-function:linear;
					*/
				}
			}
		}
	}
}
.effect-layer{
	// scattering coins
	.coins{
		>div{
			position:absolute;
			width:10px;
			height:14px;
			&:nth-of-type(1){
				left:0px;
				top:10px;
				-webkit-transform:translate(0px,0px);
			}
			&:nth-of-type(2){
				left:20px;
				top:15px;
				-webkit-transform:translate(-20px,0px);
			}
			&:nth-of-type(3){
				left:-20px;
				top:-3px;
				-webkit-transform:translate(20px,0px);
			}
			&:nth-of-type(4){
				left:-40px;
				top:28px;
				-webkit-transform:translate(40px,0px);
			}
			&:nth-of-type(5){
				left:40px;
				top:-12px;
				-webkit-transform:translate(-40px,0px);
			}
			&:nth-of-type(6){
				left:60px;
				top:4px;
				-webkit-transform:translate(-60px,0px);
			}
			&:nth-of-type(7){
				left:-60px;
				top:6px;
				-webkit-transform:translate(60px,0px);
			}
			&:nth-of-type(8){
				left:-32px;
				top:-19px;
				-webkit-transform:translate(32px,0px);
			}
			&:nth-of-type(3n){
			}
			&:nth-of-type(3n-1){
				-webkit-transition-delay:100ms;
				>div{
					-webkit-animation-delay:100ms,550ms;
				}
			}
			&:nth-of-type(3n-2){
				-webkit-transition-delay:200ms;
				>div{
					-webkit-animation-delay:200ms,600ms;
				}
			}
			>div{
				margin:0 auto;
				width:100%;
				height:100%;
				background-color:fade(rgb(255,225,0),80);
				-webkit-border-radius:7px;
			}
		}
		&.invoke{
			>div{
				-webkit-transition-duration:500ms;
				-webkit-transition-property:-webkit-transform;
				-webkit-transition-timing-function: ease-out;
				-webkit-transform:translate(0,0);
				>div{
					-webkit-animation-name:kf-drop-coin,kf-revolve-x;
					-webkit-animation-duration:500ms,500ms;
					-webkit-animation-timing-function:ease-in, ease;
					-webkit-animation-delay:0ms,500ms;
					-webkit-animation-iteration-count:1,infinite;
					-webkit-transform:translate(0,75px);
				}
			}
		}
	}
}
div[data-role="monster-asset"]{
}
// ステータスバー
.asset[data-role='status']{
	display:block;
	width:80px;
	height:8px;
	.bar-holder{
		border:1px solid #666666;
		background-color:#999999;
		background-image: -webkit-gradient(linear, left top, left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.5)),to(rgba(255,255,255,0)));
		background-position:0 0;
		background-repeat:no-repeat;
		background-size:100% 70%;
		position:relative;
		height:100%;
		.bar{
			vertical-align:top;
			background-image: -webkit-gradient(linear, left top, left bottom,from(rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,1)),to(rgba(255,255,255,0)));
			background-position:left 15%;
			background-repeat:no-repeat;
			background-size:100% 60%;
			background-color:#00FFEE;
			width:100%;
			height:100%;
			position:absolute;
			-webkit-transition-property:width,-webkit-transform;
			-webkit-transition-duration:250ms;
			-webkit-transition-timing-function:ease-out;
			-webkit-transform-origin:0% 50%;
		}
	}
	.value{
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		line-height:14px;
		font-size:11px;
		font-weight:bold;
		.openfaceText(1px,#FFFFFF);
		text-align:center;
	}
	&.low{
		.bar-holder{
			.bar{
				background-color:red;
			}
		}
	}
}
.attack-effect {
	&:not(.invoke):not(.ready){
		display:none;
	}
}
// basic effects
.sprite-appear{
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:400ms;
	-webkit-transition-timing-function:ease-out;
}