@-webkit-keyframes kf-fade-in{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes kf-fade-out{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes kf-fade-in-out{
	from {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes kf-fade-out-in{
	from {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes kf-damage-effect{
	from,25%,75% {
		opacity: 1;
	}
	50%,to {
		opacity: 0;
	}
}
@-webkit-keyframes kf-rotate-right{
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
@-webkit-keyframes kf-rotate-left{
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(-360deg);
	}
}
@-webkit-keyframes kf-shake{
	from{
		-webkit-transform:translate(0px,0px);
	}
	15% {
		-webkit-transform:translate(5px,-5px);
	}
	35% {
		-webkit-transform:translate(5px,5px);
	}
	70% {
		-webkit-transform:translate(-5px,-5px);
	}
	85% {
		-webkit-transform:translate(-5px,5px);
	}
	to {
		-webkit-transform:translate(0px,0px);
	}
}
@-webkit-keyframes kf-appear{
	from,10%{
		-webkit-transform:scale(1.2,1.2);
	}
	70% {
		-webkit-transform:scale(0.8,0.8);
	}
	to {
		-webkit-transform:scale(1,1);
	}
}
